
.container {
	background-image: url('../image/splash.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
}

.prompt {
    color: white;
    background-color: lightgray;
    background-image: url('../image/table.jpg');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    opacity: .75;
    margin: auto;
    left: 15vw;
    top: 5vh;
    width:  auto;
	height: auto;
	padding: 10px 10px;
	box-shadow: 5px 5px 5px black;
	text-align: center;
	position: absolute;
	display: none;
}

.score {
    color: red;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    opacity: .75;
    margin: auto;
    left: 20vw;
    top: 10vh;
    width:  60vw;
	height: 70vh;
	padding: 10px 10px;
	box-shadow: 5px 5px 5px black;
	text-align: left;
	position: absolute;
	display: none;
	opacity: .75;
	z-Index: 200;
}

.player {
    color: White;
    background-color: lightgray;
    background-image: url('../image/table.jpg');
	background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    opacity: .75;
    margin: auto;
    top: 5vh;
	width:  64px;
	height: 64px;
	text-align: center;
	padding: 5px 5px;
	box-shadow: 5px 5px 5px black;
	position: absolute;
	display: block;
}

.player_input{
	animation: flashing 1500ms infinite;
	cursor: pointer;
}

.logo {
	background-image: url('../image/ialogic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 5vw;
	top: 5vh;
	width:  64px;
	height: 64px;
	display: block;
	opacity: 0.5;
	box-shadow: 5px 5px 5px black;
}

.footnote {
	position: absolute;
	left: 0vw;
	top: 90vh;
	width: 100vw;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	position: absolute;
	text-align: center;
}

.overlay {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 20%;
  right: 10%;
  height: 350px;
  width: 250px;
  opacity: 0;
  transition: 1s ease;
  background-image: url('../image/cards/QS.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #004C00;
}

.container:hover .overlay {
  opacity: 0.70;
}

.text {
  color: white;
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card_scene {
  position: absolute;
  display: block;
  perspective: 600px;
  z-index: 99;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 2s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card__face--front {
	background-image: url("../image/cards/QS.jpg");
}

.card__face--back {
	background-image: url("../image/cards/CB.jpg");
	transform: rotateY(180deg);
}

.rotated {
  transform: rotate(90deg);
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  animation: glowing 1500ms infinite;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

input[type=button]:hover {
    background-color: #00B200; box-shadow: 0 0 3px #00B200;
	animation: glowing 1500ms 1;
}

@keyframes flashing {
  0% { box-shadow: 0 0 3px #00B200; }
  50% { box-shadow: 0 0 40px #00FF00; }
  100% { box-shadow: 0 0 3px #00B200; }
}

@keyframes glowing {
  0% { background-color: #00B200; box-shadow: 0 0 3px #00B200; }
  50% { background-color: #00FF00; box-shadow: 0 0 40px #00FF00; }
  100% { background-color: #00B200; box-shadow: 0 0 3px #00B200; }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
